/*.tar.xz
/*.pkg.tar
/*.pkg.tar.zst
/pkg/
/src/
/archlinux-bootstrap-*.tar.gz
/root.x86_64/
amdgpu-dev.db
amdgpu-dev.db.tar.gz
amdgpu-dev.db.tar.gz.old
amdgpu-dev.files
amdgpu-dev.files.tar.gz
amdgpu-dev.files.tar.gz.old
.idea
__pycache__
.hidden
amdgpu-pro-*-ubuntu-*
Packages-extracted
Packages-debugging
