pkgbase = amdgpu-pro-installer
	pkgver = 16.40.348864
	pkgrel = 1
	url = http://www.amd.com
	arch = x86_64
	license = custom:AMD
	makedepends = wget
	source = https://www2.ati.com/drivers/linux/ubuntu/amdgpu-pro-16.40-348864.tar.xz
	source = 0001-Find-correct-System.map.patch
	source = 0002-Fix-kernel-module-install-location.patch
	source = 0003-Add-Gentoo-as-build-option.patch
	source = 0004-Remove-extra-parameter-from-ttm_bo_reserve-for-4.7.0.patch
	source = 0005-Remove-first-param-from-drm_gem_object_lookup.patch
	source = 0006-Remove-vblank_disable_allowed-assignment.patch
	source = 0007-Fix-__drm_atomic_helper_connector_destroy_state-call.patch
	source = 0008-Change-seq_printf-format-for-64-bit-context.patch
	source = 0009-Fix-vblank-calls.patch
	source = 0010-Fix-crtc_gamma-functions-for-4.8.0.patch
	source = 0011-Fix-drm_atomic_helper_swap_state-for-4.8.0.patch
	source = 0012-Add-extra-flag-to-ttm_bo_move_ttm-for-4.8.0-rc2.patch
	source = 0013-Remove-dependency-on-System.map.patch
	source = 0014-disable-dal-by-default.patch
	source = 0015-remove-acp_resume.patch
	source = 0016-silence-indentation-build-error.patch
	sha256sums = 59d6b1d975164ff45f6e6be5af6bcc061bf9ef6378ac5757bdb4e67840a706b0
	sha256sums = f052bcf4b974bf6169ae1a20a57e90621becbefbca76f7b239b2e649725e6a56
	sha256sums = ced9e98f7e32fc6b43e38bbb70ebd5e054b2ff3454ccadc527ccf3b19f12d7bb
	sha256sums = 0bb77f348512ef2ffa990fd74773d5d283e67c139601347bbd287960a65c0717
	sha256sums = c0422a8ddb6827811710486dd43dca00e8393a1f90786659d4c01d721cff1747
	sha256sums = 991115e84b16e4547e35d229faf6b0503b0ad70f8cc59edd7ade026f18fe55bc
	sha256sums = ce924e6159b2a94f48c80954f84e8b6d07245ac58732e7e22ff56264b86c6b73
	sha256sums = 7c87b5149d307acf75ec72b00018d9b9f4358bfa441fcf890f544e411256391b
	sha256sums = fa125954b927a6c9eb9c41d30c39f4cfd1f076aa9658cc21fc448a6719f4080f
	sha256sums = 74545ec5df05cce5dd5168eb6b57f185ccc1b032b62c24f5f3994a8e8b5ba4b3
	sha256sums = 1fe0fe0d457cc403eba513101c000eed054bfe36dd5f5773bb0c9a8b02207f7f
	sha256sums = 1a7b834fbe7627ab46afc97fb1272d60607aa57ea43f4a9131ad123fc479679d
	sha256sums = 31afb42a7fa7d8090ba8c3b76c3201de54fb357305b7c114fef95707db01f5fe
	sha256sums = cd7d745254e80b25fdd101e4c8f6864a5d4942ba0e88b36e797de6b40e8148d2
	sha256sums = a4a41b3a49ccc227c5182ecb1554cdaefc7c35bd23fffd2b21e86674a49f888e
	sha256sums = a7a4b0dc3368bc767557e4631d1fcafb11ac53face5039ca4b349da41016ef35
	sha256sums = f2b3bec8f6c1ec53639e0d71e9285b5ef8c1633989c8e585dd23da5572003f79

pkgname = lib32-amdgpu-pro
	pkgdesc = Meta package to install amdgpu Pro components.
	arch = x86_64
	depends = lib32-amdgpu-pro-dkms=16.40.348864-1
	depends = lib32-libdrm-amdgpu-pro-utils=16.40.348864-1
	depends = lib32-libgbm1-amdgpu-pro=16.40.348864-1
	depends = lib32-libgl1-amdgpu-pro-appprofiles=16.40.348864-1
	depends = lib32-libgl1-amdgpu-pro-glx=16.40.348864-1
	depends = lib32-libgl1-amdgpu-pro-ext=16.40.348864-1
	depends = lib32-libgl1-amdgpu-pro-dri=16.40.348864-1
	depends = lib32-libgles2-amdgpu-pro=16.40.348864-1
	depends = lib32-vulkan-amdgpu-pro=16.40.348864-1
	depends = lib32-libvdpau-amdgpu-pro=16.40.348864-1
	depends = lib32-libopencl1-amdgpu-pro=16.40.348864-1
	depends = lib32-clinfo-amdgpu-pro=16.40.348864-1
	depends = lib32-opencl-amdgpu-pro-icd=16.40.348864-1
	depends = lib32-xserver-xorg-video-glamoregl-amdgpu-pro=16.40.348864-1
	depends = lib32-xserver-xorg-video-amdgpu-pro=16.40.348864-1

pkgname = amdgpu-pro
	pkgdesc = Meta package to install amdgpu Pro components.
	arch = x86_64
	depends = amdgpu-pro-dkms=16.40.348864-1
	depends = libdrm-amdgpu-pro-utils=16.40.348864-1
	depends = libgbm1-amdgpu-pro=16.40.348864-1
	depends = libgl1-amdgpu-pro-appprofiles=16.40.348864-1
	depends = libgl1-amdgpu-pro-glx=16.40.348864-1
	depends = libgl1-amdgpu-pro-ext=16.40.348864-1
	depends = libgl1-amdgpu-pro-dri=16.40.348864-1
	depends = libgles2-amdgpu-pro=16.40.348864-1
	depends = vulkan-amdgpu-pro=16.40.348864-1
	depends = libvdpau-amdgpu-pro=16.40.348864-1
	depends = libopencl1-amdgpu-pro=16.40.348864-1
	depends = clinfo-amdgpu-pro=16.40.348864-1
	depends = opencl-amdgpu-pro-icd=16.40.348864-1
	depends = xserver-xorg-video-glamoregl-amdgpu-pro=16.40.348864-1
	depends = xserver-xorg-video-amdgpu-pro=16.40.348864-1

pkgname = amdgpu-pro-dkms
	pkgdesc = amdgpu-pro driver in DKMS format.
	arch = any
	depends = dkms>=1.95

pkgname = amdgpu-pro-lib32
	pkgdesc = Meta package to support i386 runtime on amd64 architecture
	arch = x86_64
	depends = libdrm-amdgpu-pro-amdgpu1:i386
	depends = libgbm1-amdgpu-pro:i386
	depends = libgl1-amdgpu-pro-glx:i386
	depends = libgl1-amdgpu-pro-dri:i386
	depends = libgles2-amdgpu-pro:i386
	depends = vulkan-amdgpu-pro:i386
	depends = libvdpau-amdgpu-pro:i386
	depends = libopencl1-amdgpu-pro:i386
	depends = opencl-amdgpu-pro-icd:i386

pkgname = lib32-clinfo-amdgpu-pro
	pkgdesc = AMD OpenCL info utility
	arch = x86_64
	depends = lib32-libopencl1-amdgpu-pro=16.40.348864-1

pkgname = clinfo-amdgpu-pro
	pkgdesc = AMD OpenCL info utility
	arch = x86_64
	depends = libopencl1-amdgpu-pro=16.40.348864-1

pkgname = lib32-gst-omx-amdgpu-pro
	pkgdesc = GStreamer OpenMAX plugins
	arch = x86_64
	depends = lib32-libglib2.0-0>=2.37.3
	depends = lib32-libgstreamer-plugins-base1.0-0>=1.6.0
	depends = lib32-libgstreamer1.0-0>=1.0.0
	depends = lib32-libomxil-bellagio0

pkgname = gst-omx-amdgpu-pro
	pkgdesc = GStreamer OpenMAX plugins
	arch = x86_64
	depends = libglib2.0-0>=2.37.3
	depends = libgstreamer-plugins-base1.0-0>=1.6.0
	depends = libgstreamer1.0-0>=1.0.0
	depends = libomxil-bellagio0

pkgname = lib32-libdrm-amdgpu-pro-amdgpu1
	pkgdesc = Userspace interface to amdgpu-specific kernel DRM services -- runtime
	arch = x86_64
	depends = lib32-libdrm2-amdgpu-pro=16.40.348864-1

pkgname = libdrm-amdgpu-pro-amdgpu1
	pkgdesc = Userspace interface to amdgpu-specific kernel DRM services -- runtime
	arch = x86_64
	depends = libdrm2-amdgpu-pro=16.40.348864-1

pkgname = libdrm-amdgpu-pro-dev
	pkgdesc = Userspace interface to kernel DRM services -- development files
	arch = x86_64
	depends = libdrm2-amdgpu-pro=16.40.348864-1
	depends = libdrm-amdgpu-pro-amdgpu1=16.40.348864-1

pkgname = lib32-libdrm-amdgpu-pro-dev
	pkgdesc = Userspace interface to kernel DRM services -- development files
	arch = x86_64
	depends = lib32-libdrm2-amdgpu-pro=16.40.348864-1
	depends = lib32-libdrm-amdgpu-pro-amdgpu1=16.40.348864-1

pkgname = libdrm-amdgpu-pro-radeon1
	pkgdesc = Userspace interface to radeon-specific kernel DRM services -- runtime
	arch = x86_64
	depends = libdrm2-amdgpu-pro=16.40.348864-1

pkgname = lib32-libdrm-amdgpu-pro-radeon1
	pkgdesc = Userspace interface to radeon-specific kernel DRM services -- runtime
	arch = x86_64
	depends = lib32-libdrm2-amdgpu-pro=16.40.348864-1

pkgname = libdrm-amdgpu-pro-utils
	pkgdesc = Utility programs for the kernel DRM interface.
	arch = x86_64
	depends = libdrm2-amdgpu-pro=16.40.348864-1
	depends = libdrm-amdgpu-pro-amdgpu1=16.40.348864-1
	depends = cunit

pkgname = lib32-libdrm-amdgpu-pro-utils
	pkgdesc = Utility programs for the kernel DRM interface.
	arch = x86_64
	depends = lib32-libdrm2-amdgpu-pro=16.40.348864-1
	depends = lib32-libdrm-amdgpu-pro-amdgpu1=16.40.348864-1
	depends = lib32-cunit

pkgname = libdrm2-amdgpu-pro
	pkgdesc = Userspace interface to kernel DRM services -- runtime
	arch = x86_64
	depends = 

pkgname = lib32-libdrm2-amdgpu-pro
	pkgdesc = Userspace interface to kernel DRM services -- runtime
	arch = x86_64
	depends = 

pkgname = libegl1-amdgpu-pro
	pkgdesc = implementation of the EGL API -- runtime
	arch = x86_64
	depends = 

pkgname = lib32-libegl1-amdgpu-pro
	pkgdesc = implementation of the EGL API -- runtime
	arch = x86_64
	depends = 

pkgname = lib32-libgbm1-amdgpu-pro
	pkgdesc = Generic buffer management API -- runtime
	arch = x86_64
	depends = lib32-libdrm-amdgpu-pro-amdgpu1=16.40.348864-1
	depends = lib32-libgbm1-amdgpu-pro-base=16.40.348864-1
	depends = lib32-libdrm2-amdgpu-pro=16.40.348864-1

pkgname = libgbm1-amdgpu-pro
	pkgdesc = Generic buffer management API -- runtime
	arch = x86_64
	depends = libdrm-amdgpu-pro-amdgpu1=16.40.348864-1
	depends = libgbm1-amdgpu-pro-base=16.40.348864-1
	depends = libdrm2-amdgpu-pro=16.40.348864-1

pkgname = libgbm1-amdgpu-pro-base
	pkgdesc = Generic buffer management API -- configuration files
	arch = any
	depends = 

pkgname = libgbm1-amdgpu-pro-dev
	pkgdesc = Generic buffer management API -- development files
	arch = x86_64
	depends = libgbm1-amdgpu-pro=16.40.348864-1

pkgname = lib32-libgbm1-amdgpu-pro-dev
	pkgdesc = Generic buffer management API -- development files
	arch = x86_64
	depends = lib32-libgbm1-amdgpu-pro=16.40.348864-1

pkgname = libgl1-amdgpu-pro-appprofiles
	pkgdesc = AMD OpenGL profiles configuration
	arch = any
	depends = 

pkgname = libgl1-amdgpu-pro-dri
	pkgdesc = implementation of the OpenGL API -- DRI modules
	arch = x86_64
	depends = libx11
	depends = libxext

pkgname = lib32-libgl1-amdgpu-pro-dri
	pkgdesc = implementation of the OpenGL API -- DRI modules
	arch = x86_64
	depends = lib32-libx11
	depends = lib32-libxext

pkgname = libgl1-amdgpu-pro-ext
	pkgdesc = xorg GLX exetnsion
	arch = x86_64
	depends = libdrm2-amdgpu-pro=16.40.348864-1
	depends = libgl1-amdgpu-pro-glx=16.40.348864-1
	depends = libx11
	depends = libxcb
	depends = libxdamage>=1.1
	depends = libxext
	depends = libxfixes
	depends = libxxf86vm

pkgname = lib32-libgl1-amdgpu-pro-ext
	pkgdesc = xorg GLX exetnsion
	arch = x86_64
	depends = lib32-libdrm2-amdgpu-pro=16.40.348864-1
	depends = lib32-libgl1-amdgpu-pro-glx=16.40.348864-1
	depends = lib32-libx11
	depends = lib32-libxcb
	depends = lib32-libxdamage>=1.1
	depends = lib32-libxext
	depends = lib32-libxfixes
	depends = lib32-libxxf86vm

pkgname = lib32-libgl1-amdgpu-pro-glx
	pkgdesc = implementation of the OpenGL API -- GLX runtime
	arch = x86_64
	depends = lib32-libdrm2-amdgpu-pro=16.40.348864-1
	depends = lib32-libx11>=1.4.99.1
	depends = lib32-libxcb>=1.8
	depends = lib32-libxcb
	depends = lib32-libxcb>=1.9.2
	depends = lib32-libxdamage>=1.1
	depends = lib32-libxext
	depends = lib32-libxfixes
	depends = lib32-libxshmfence
	depends = lib32-libxxf86vm
	provides = lib32-libgl
	conflicts = lib32-libgl

pkgname = libgl1-amdgpu-pro-glx
	pkgdesc = implementation of the OpenGL API -- GLX runtime
	arch = x86_64
	depends = libdrm2-amdgpu-pro=16.40.348864-1
	depends = libx11>=1.4.99.1
	depends = libxcb>=1.8
	depends = libxcb
	depends = libxcb>=1.9.2
	depends = libxdamage>=1.1
	depends = libxext
	depends = libxfixes
	depends = libxshmfence
	depends = libxxf86vm
	provides = libgl
	conflicts = libgl

pkgname = lib32-libglamor-amdgpu-pro-dev
	pkgdesc = shared graphics acceleration library based on OpenGL -- development files
	arch = x86_64
	depends = lib32-xserver-xorg-video-glamoregl-amdgpu-pro=16.40.348864-1

pkgname = libglamor-amdgpu-pro-dev
	pkgdesc = shared graphics acceleration library based on OpenGL -- development files
	arch = x86_64
	depends = xserver-xorg-video-glamoregl-amdgpu-pro=16.40.348864-1

pkgname = lib32-libgles2-amdgpu-pro
	pkgdesc = implementation of the OpenGL|ES 2.x API -- runtime
	arch = x86_64
	depends = lib32-libegl1-amdgpu-pro=16.40.348864-1

pkgname = libgles2-amdgpu-pro
	pkgdesc = implementation of the OpenGL|ES 2.x API -- runtime
	arch = x86_64
	depends = libegl1-amdgpu-pro=16.40.348864-1

pkgname = libopencl1-amdgpu-pro
	pkgdesc = AMD OpenCL ICD Loader library
	arch = x86_64
	depends = 
	provides = libcl
	conflicts = libcl

pkgname = lib32-libopencl1-amdgpu-pro
	pkgdesc = AMD OpenCL ICD Loader library
	arch = x86_64
	depends = 
	provides = lib32-libcl
	conflicts = lib32-libcl

pkgname = lib32-libvdpau-amdgpu-pro
	pkgdesc = AMDGPU Pro VDPAU driver
	arch = x86_64
	depends = lib32-libdrm-amdgpu-pro-amdgpu1=16.40.348864-1
	depends = lib32-libdrm2-amdgpu-pro=16.40.348864-1
	depends = lib32-openssl>=1.0.0
	depends = lib32-libtinfo>=6
	depends = lib32-libxcb>=1.8
	depends = lib32-libxcb
	depends = lib32-zlib>=1.2.0
	depends = lib32-libvdpau>=1.1

pkgname = libvdpau-amdgpu-pro
	pkgdesc = AMDGPU Pro VDPAU driver
	arch = x86_64
	depends = libdrm-amdgpu-pro-amdgpu1=16.40.348864-1
	depends = libdrm2-amdgpu-pro=16.40.348864-1
	depends = openssl>=1.0.0
	depends = libtinfo>=6
	depends = libxcb>=1.8
	depends = libxcb
	depends = zlib>=1.2.0
	depends = libvdpau>=1.1

pkgname = lib32-mesa-amdgpu-pro-omx-drivers
	pkgdesc = Mesa OpenMAX video drivers
	arch = x86_64
	depends = lib32-libdrm-amdgpu-pro-amdgpu1=16.40.348864-1
	depends = lib32-libdrm2-amdgpu-pro=16.40.348864-1
	depends = lib32-libomxil-bellagio0
	depends = lib32-openssl>=1.0.0
	depends = lib32-libtinfo>=6
	depends = lib32-libx11
	depends = lib32-libxcb>=1.8
	depends = lib32-libxcb
	depends = lib32-zlib>=1.2.0

pkgname = mesa-amdgpu-pro-omx-drivers
	pkgdesc = Mesa OpenMAX video drivers
	arch = x86_64
	depends = libdrm-amdgpu-pro-amdgpu1=16.40.348864-1
	depends = libdrm2-amdgpu-pro=16.40.348864-1
	depends = libomxil-bellagio0
	depends = openssl>=1.0.0
	depends = libtinfo>=6
	depends = libx11
	depends = libxcb>=1.8
	depends = libxcb
	depends = zlib>=1.2.0

pkgname = lib32-opencl-amdgpu-pro-icd
	pkgdesc = non-free AMD OpenCL ICD Loaders
	arch = x86_64
	depends = 

pkgname = opencl-amdgpu-pro-icd
	pkgdesc = non-free AMD OpenCL ICD Loaders
	arch = x86_64
	depends = 

pkgname = vulkan-amdgpu-pro
	pkgdesc = AMDGPU Pro Vulkan driver
	arch = x86_64
	depends = libdrm-amdgpu-pro-amdgpu1=16.40.348864-1

pkgname = lib32-vulkan-amdgpu-pro
	pkgdesc = AMDGPU Pro Vulkan driver
	arch = x86_64
	depends = lib32-libdrm-amdgpu-pro-amdgpu1=16.40.348864-1

pkgname = lib32-xserver-xorg-video-amdgpu-pro
	pkgdesc = X.Org X server -- AMD/ATI Radeon display driver
	arch = x86_64
	depends = lib32-libdrm-amdgpu-pro-amdgpu1=16.40.348864-1
	depends = lib32-libgbm1-amdgpu-pro=16.40.348864-1
	depends = lib32-libsystemd>=183

pkgname = xserver-xorg-video-amdgpu-pro
	pkgdesc = X.Org X server -- AMD/ATI Radeon display driver
	arch = x86_64
	depends = libdrm-amdgpu-pro-amdgpu1=16.40.348864-1
	depends = libgbm1-amdgpu-pro=16.40.348864-1
	depends = libsystemd>=183
	conflicts = xf86-video-amdgpu

pkgname = lib32-xserver-xorg-video-glamoregl-amdgpu-pro
	pkgdesc = X.Org X server -- graphics acceleration module based on OpenGL
	arch = x86_64
	depends = lib32-libdrm2-amdgpu-pro=16.40.348864-1
	depends = lib32-libepoxy>=1.0
	depends = lib32-libgbm1-amdgpu-pro=16.40.348864-1

pkgname = xserver-xorg-video-glamoregl-amdgpu-pro
	pkgdesc = X.Org X server -- graphics acceleration module based on OpenGL
	arch = x86_64
	depends = libdrm2-amdgpu-pro=16.40.348864-1
	depends = libepoxy>=1.0
	depends = libgbm1-amdgpu-pro=16.40.348864-1

pkgname = lib32-xserver-xorg-video-modesetting-amdgpu-pro
	pkgdesc = XServer modules for amdgpu-pro This package contains modesetting_drv.so
	arch = x86_64
	depends = lib32-libsystemd>=183

pkgname = xserver-xorg-video-modesetting-amdgpu-pro
	pkgdesc = XServer modules for amdgpu-pro This package contains modesetting_drv.so
	arch = x86_64
	depends = libsystemd>=183

