pkgbase = amdgpu-pro-installer
	pkgver = 25.10_2202160
	pkgrel = 1
	url = https://www.amd.com/en/support/kb/release-notes/rn-amdgpu-unified-linux-22-40
	arch = x86_64
	groups = Radeon_Software_for_Linux
	license = custom: multiple
	source = progl::https://raw.githubusercontent.com/Ashark/archlinux-amdgpu-pro/master/progl
	source = progl.bash-completion::https://raw.githubusercontent.com/Ashark/archlinux-amdgpu-pro/master/progl.bash-completion
	source = https://repo.radeon.com/amdgpu/6.4.4/ubuntu/pool/proprietary/a/amf-amdgpu-pro/amf-amdgpu-pro_1.4.37-2202160.22.04_amd64.deb
	source = https://repo.radeon.com/amdgpu/6.4.4/ubuntu/pool/proprietary/liba/libamdenc-amdgpu-pro/libamdenc-amdgpu-pro_25.10-2202160.22.04_amd64.deb
	source = https://repo.radeon.com/amdgpu/6.4.4/ubuntu/pool/proprietary/o/oglp-amdgpu-pro/libegl1-amdgpu-pro-oglp_25.10-2202160.22.04_i386.deb
	source = https://repo.radeon.com/amdgpu/6.4.4/ubuntu/pool/proprietary/o/oglp-amdgpu-pro/libegl1-amdgpu-pro-oglp_25.10-2202160.22.04_amd64.deb
	source = https://repo.radeon.com/amdgpu/6.4.4/ubuntu/pool/proprietary/o/oglp-amdgpu-pro/libgl1-amdgpu-pro-oglp-dri_25.10-2202160.22.04_i386.deb
	source = https://repo.radeon.com/amdgpu/6.4.4/ubuntu/pool/proprietary/o/oglp-amdgpu-pro/libgl1-amdgpu-pro-oglp-dri_25.10-2202160.22.04_amd64.deb
	source = https://repo.radeon.com/amdgpu/6.4.4/ubuntu/pool/proprietary/o/oglp-amdgpu-pro/libgl1-amdgpu-pro-oglp-ext_25.10-2202160.22.04_amd64.deb
	source = https://repo.radeon.com/amdgpu/6.4.4/ubuntu/pool/proprietary/o/oglp-amdgpu-pro/libgl1-amdgpu-pro-oglp-gbm_25.10-2202160.22.04_amd64.deb
	source = https://repo.radeon.com/amdgpu/6.4.4/ubuntu/pool/proprietary/o/oglp-amdgpu-pro/libgl1-amdgpu-pro-oglp-glx_25.10-2202160.22.04_i386.deb
	source = https://repo.radeon.com/amdgpu/6.4.4/ubuntu/pool/proprietary/o/oglp-amdgpu-pro/libgl1-amdgpu-pro-oglp-glx_25.10-2202160.22.04_amd64.deb
	source = https://repo.radeon.com/amdgpu/6.4.4/ubuntu/pool/proprietary/o/oglp-amdgpu-pro/libgles1-amdgpu-pro-oglp_25.10-2202160.22.04_i386.deb
	source = https://repo.radeon.com/amdgpu/6.4.4/ubuntu/pool/proprietary/o/oglp-amdgpu-pro/libgles1-amdgpu-pro-oglp_25.10-2202160.22.04_amd64.deb
	source = https://repo.radeon.com/amdgpu/6.4.4/ubuntu/pool/proprietary/o/oglp-amdgpu-pro/libgles2-amdgpu-pro-oglp_25.10-2202160.22.04_i386.deb
	source = https://repo.radeon.com/amdgpu/6.4.4/ubuntu/pool/proprietary/o/oglp-amdgpu-pro/libgles2-amdgpu-pro-oglp_25.10-2202160.22.04_amd64.deb
	source = https://repo.radeon.com/amdgpu/6.4.4/ubuntu/pool/proprietary/v/vulkan-amdgpu-pro/vulkan-amdgpu-pro_25.10-2202160.22.04_i386.deb
	source = https://repo.radeon.com/amdgpu/6.4.4/ubuntu/pool/proprietary/v/vulkan-amdgpu-pro/vulkan-amdgpu-pro_25.10-2202160.22.04_amd64.deb
	sha256sums = feb74796c3152cbafaba89d96e68a152f209bd3058c7eb0413cbe1ab0764e96f
	sha256sums = e32801c38b475cd8df17a407726b86db3de26410f563d688325b4d4314fc5354
	sha256sums = aca18c5f111010994e71725c0b548ee18657570bb5663fbac6afaae8e4abda90
	sha256sums = ddbf38c9158fae3ec46b05bdce74f09daa406f1ce620da7fd0cb4e96bf664c95
	sha256sums = ed41902188d6963556dfee487a206ecc2348fadafa41fad695649c34daadd5f3
	sha256sums = c68b6dc6b8959b0ecb665ff8570d42acd15da265660aa90589b8998236251462
	sha256sums = 8f29582e4af511f0f9d2b43df4d26ba08b067a26298ad1557fac4e6f412012c6
	sha256sums = d8e25a5d523b19b6454471c6a2b7009ac1e9e60e5879a22eac86e254e58e8556
	sha256sums = bbf6a14fef039e9bb3ae62254695102fa9d54368dc76e837e3e79f8cb3dd5c6b
	sha256sums = e7cc5645a3c555be653faa6ab348e0db42780bde359a04d5e8d74fe72bc5b2aa
	sha256sums = 48bfe3abe993c99eab4964f546898959ad2e1816f8869616d28b0a22656fa2db
	sha256sums = 6c43e58765c8794f5ba2a6aa9948622d62354b6ab63799430ead48e71555ea33
	sha256sums = 3ea4af45bdf5b88cec3ffe2e30283001db82015109056d2e130dd51954435d43
	sha256sums = f1adf99eff88ad4b9b38590f09a539a0aec113b76ca575a5e51578453d8e1dec
	sha256sums = a1f67cb613e03d3840238102b3fa33588c3e2a7ffdeed37e6e799f4a410937e6
	sha256sums = eaf0de218c12456af58150c513174fd34a48d6f38f7d9db79e0a035e9e94acfd
	sha256sums = 2fd63632a96e8fbb4c5e01524eef83405f9f8c212777a275115ee5e34f5957ea
	sha256sums = c246fbbfda6f272b300f2a5243797c053e62e106fe50d6edb6a76310a535d858

pkgname = amf-amdgpu-pro
	pkgdesc = AMDGPU Pro Advanced Multimedia Framework
	license = custom: AMDGPU-PRO EULA
	depends = vulkan-icd-loader
	optdepends = rocm-opencl-runtime: Warning unspecified optdep description
	optdepends = vulkan-radeon: Warning unspecified optdep description

pkgname = amdgpu-pro-oglp
	pkgdesc = AMDGPU Pro OpenGL driver
	license = custom: AMDGPU-PRO EULA
	depends = libglvnd
	provides = libgl

pkgname = lib32-amdgpu-pro-oglp
	pkgdesc = AMDGPU Pro OpenGL driver (32-bit)
	license = custom: AMDGPU-PRO EULA
	depends = 
	provides = lib32-libgl

pkgname = vulkan-amdgpu-pro
	pkgdesc = AMDGPU Pro Vulkan driver
	license = custom: AMDGPU-PRO EULA
	depends = vulkan-icd-loader
	depends = wayland
	depends = zlib
	optdepends = openssl-1.1: Warning unspecified optdep description
	provides = vulkan-driver

pkgname = lib32-vulkan-amdgpu-pro
	pkgdesc = AMDGPU Pro Vulkan driver (32-bit)
	license = custom: AMDGPU-PRO EULA
	depends = lib32-vulkan-icd-loader
	depends = lib32-wayland
	depends = lib32-zlib
	optdepends = lib32-openssl-1.1: Warning unspecified optdep description
	provides = lib32-vulkan-driver
