pkgbase = amdgpu-pro-installer
	pkgver = 25.10_2165407
	pkgrel = 1
	url = https://www.amd.com/en/support/kb/release-notes/rn-amdgpu-unified-linux-22-40
	arch = x86_64
	groups = Radeon_Software_for_Linux
	license = custom: multiple
	source = progl::https://raw.githubusercontent.com/Ashark/archlinux-amdgpu-pro/master/progl
	source = progl.bash-completion::https://raw.githubusercontent.com/Ashark/archlinux-amdgpu-pro/master/progl.bash-completion
	source = https://repo.radeon.com/amdgpu/6.4.1/ubuntu/pool/proprietary/a/amf-amdgpu-pro/amf-amdgpu-pro_1.4.37-2165407.22.04_amd64.deb
	source = https://repo.radeon.com/amdgpu/6.4.1/ubuntu/pool/proprietary/liba/libamdenc-amdgpu-pro/libamdenc-amdgpu-pro_25.10-2165407.22.04_amd64.deb
	source = https://repo.radeon.com/amdgpu/6.4.1/ubuntu/pool/proprietary/o/oglp-amdgpu-pro/libegl1-amdgpu-pro-oglp_25.10-2165407.22.04_i386.deb
	source = https://repo.radeon.com/amdgpu/6.4.1/ubuntu/pool/proprietary/o/oglp-amdgpu-pro/libegl1-amdgpu-pro-oglp_25.10-2165407.22.04_amd64.deb
	source = https://repo.radeon.com/amdgpu/6.4.1/ubuntu/pool/proprietary/o/oglp-amdgpu-pro/libgl1-amdgpu-pro-oglp-dri_25.10-2165407.22.04_i386.deb
	source = https://repo.radeon.com/amdgpu/6.4.1/ubuntu/pool/proprietary/o/oglp-amdgpu-pro/libgl1-amdgpu-pro-oglp-dri_25.10-2165407.22.04_amd64.deb
	source = https://repo.radeon.com/amdgpu/6.4.1/ubuntu/pool/proprietary/o/oglp-amdgpu-pro/libgl1-amdgpu-pro-oglp-ext_25.10-2165407.22.04_amd64.deb
	source = https://repo.radeon.com/amdgpu/6.4.1/ubuntu/pool/proprietary/o/oglp-amdgpu-pro/libgl1-amdgpu-pro-oglp-gbm_25.10-2165407.22.04_amd64.deb
	source = https://repo.radeon.com/amdgpu/6.4.1/ubuntu/pool/proprietary/o/oglp-amdgpu-pro/libgl1-amdgpu-pro-oglp-glx_25.10-2165407.22.04_i386.deb
	source = https://repo.radeon.com/amdgpu/6.4.1/ubuntu/pool/proprietary/o/oglp-amdgpu-pro/libgl1-amdgpu-pro-oglp-glx_25.10-2165407.22.04_amd64.deb
	source = https://repo.radeon.com/amdgpu/6.4.1/ubuntu/pool/proprietary/o/oglp-amdgpu-pro/libgles1-amdgpu-pro-oglp_25.10-2165407.22.04_i386.deb
	source = https://repo.radeon.com/amdgpu/6.4.1/ubuntu/pool/proprietary/o/oglp-amdgpu-pro/libgles1-amdgpu-pro-oglp_25.10-2165407.22.04_amd64.deb
	source = https://repo.radeon.com/amdgpu/6.4.1/ubuntu/pool/proprietary/o/oglp-amdgpu-pro/libgles2-amdgpu-pro-oglp_25.10-2165407.22.04_i386.deb
	source = https://repo.radeon.com/amdgpu/6.4.1/ubuntu/pool/proprietary/o/oglp-amdgpu-pro/libgles2-amdgpu-pro-oglp_25.10-2165407.22.04_amd64.deb
	source = https://repo.radeon.com/amdgpu/6.4.1/ubuntu/pool/proprietary/v/vulkan-amdgpu-pro/vulkan-amdgpu-pro_25.10-2165407.22.04_i386.deb
	source = https://repo.radeon.com/amdgpu/6.4.1/ubuntu/pool/proprietary/v/vulkan-amdgpu-pro/vulkan-amdgpu-pro_25.10-2165407.22.04_amd64.deb
	sha256sums = feb74796c3152cbafaba89d96e68a152f209bd3058c7eb0413cbe1ab0764e96f
	sha256sums = e32801c38b475cd8df17a407726b86db3de26410f563d688325b4d4314fc5354
	sha256sums = c3437acff90f821b5f18ee3db76dcff580a035bfd4bc0e4c518d0a7c03585624
	sha256sums = d86b0f48e25f04a8cb803642c1a60baa58b0eefc17de61b8a99bdd718ded9d9d
	sha256sums = 4cd067a4a350a57a1bfb506fb59d9c1b94e472ca5b8f0f9500f429ac0d11d04e
	sha256sums = f1b312c0984c54ec04697f778f2321f8db0071c3d49d80acc296a584906be070
	sha256sums = 9ac13b4a074b59a9830a5efb84811628baeabd1594031320203914cfc7ad5824
	sha256sums = 9696dcc40166292a3e72fd144d8855be58742823483385f4aef0edcc11f03093
	sha256sums = 202fe80cf6126bfad4b657276d294b26f8cd88a289fcf9caac58f987daee7641
	sha256sums = 85efc69aa3a8054dac2c4919bb40a858b3942098504653e78f28fc0ba2b15e15
	sha256sums = e63c4654551e3cc2ee87a201ca3aed3d4606f5bb80d576ea39b55725eb156447
	sha256sums = 37169207a0b457ad062c25441c6523c9d210d0a58757f4df6e629e5f116ed3bf
	sha256sums = a4fcac61e6e0b15116b7502a5e1669e109f0fa0a542d58621ceafce9a44a5bf2
	sha256sums = b4f16431ec00027a801cca2194d9d3ea18b1ebc43201decf9168c33b5c89afbe
	sha256sums = f73b39b36327f28bb4e761b3a70afda100c5ff5f480c5064333451d26c0322c9
	sha256sums = a02cf76ccf33d1ba7229f1e647d3a7761b35bbde7cd9e5dfca6d5d1505896523
	sha256sums = 7ce074751c19253e77ef2e98ebe62b5f662cdf318365313ed9efaa78b402f0dc
	sha256sums = 76e255be316e5cac817723dcefcfc50386361c093157967e3e7e151a1ce5071d

pkgname = amf-amdgpu-pro
	pkgdesc = AMDGPU Pro Advanced Multimedia Framework
	license = custom: AMDGPU-PRO EULA
	depends = vulkan-icd-loader
	optdepends = rocm-opencl-runtime: Warning unspecified optdep description
	optdepends = vulkan-radeon: Warning unspecified optdep description

pkgname = amdgpu-pro-oglp
	pkgdesc = AMDGPU Pro OpenGL driver
	license = custom: AMDGPU-PRO EULA
	depends = libglvnd
	provides = libgl

pkgname = lib32-amdgpu-pro-oglp
	pkgdesc = AMDGPU Pro OpenGL driver (32-bit)
	license = custom: AMDGPU-PRO EULA
	depends = 
	provides = lib32-libgl

pkgname = vulkan-amdgpu-pro
	pkgdesc = AMDGPU Pro Vulkan driver
	license = custom: AMDGPU-PRO EULA
	depends = vulkan-icd-loader
	depends = wayland
	depends = zlib
	optdepends = openssl-1.1: Warning unspecified optdep description
	provides = vulkan-driver

pkgname = lib32-vulkan-amdgpu-pro
	pkgdesc = AMDGPU Pro Vulkan driver (32-bit)
	license = custom: AMDGPU-PRO EULA
	depends = lib32-vulkan-icd-loader
	depends = lib32-wayland
	depends = lib32-zlib
	optdepends = lib32-openssl-1.1: Warning unspecified optdep description
	provides = lib32-vulkan-driver
